<div class="row">
    <div class="col s12 center">
        <div class="card plans">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab">
                    <a class="active" href="#test1">Plans</a>
                  </li>
                  <li class="tab">
                    <a href="#test2">Checklist</a>
                    <!-- Add checklist title so that user knows which checklist theyre following -->
                  </li>
                </ul>

                  <div class="card-content">
                    <div id="test1" class="plan-list left">
                      <% @plans.each do |plan|%>
                        <%= plan.title %>
                         <br>
                      <% end %>
                    </div>
                    <div id="test2">
                      <!-- Checklist plans go here  -->
                    </div>
                  </div>
                </ul>
                <a class="btn-floating halfway-fab waves-effect waves-light green accent-3" href="#modal1">
                    <i class="material-icons">add</i>
                </a>

                <div id="modal1" class="modal">
                    <div class="modal-content">
                       <%= render 'plans/form', plan: @plan, list:@list %>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card feed">
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab">
                <a href="#test4">Planned</a>
            </li>
            <li class="tab">
                <a class="active" href="#test5">Completed</a>
            </li>
        </ul>
    </div>
    <div class="card-content">
        <div id="test4">
            <% @all_plan.each do |plan| %>
                <%= plan.user.email%> |
                <%= plan.title %>
                <br>
            <% end %>
        </div>
        <div id="test5">Craft beer truffaut jean shorts, fap salvia tumeric mlkshk affogato retro biodiesel narwhal shoreditch edison bulb pug. Roof party PBR&B deep v pour-over, mustache hexagon green juice. Pabst bespoke cornhole beard, salvia mustache
            meggings leggings church-key lo-fi tousled etsy knausgaard master cleanse. Intelligentsia plaid cronut, ethical edison bulb wolf flexitarian pour-over austin crucifix. Vape poke letterpress stumptown, farm-to-table disrupt cardigan sustainable
            raclette truffaut distillery shabby chic gochujang gentrify banjo. Truffaut bushwick post-ironic etsy +1. Narwhal scenester you probably haven't heard of them church-key.</div>
    </div>
</div>
