/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

.login-box {
  padding: 2em;
  border: 1px solid #EEE;
}

.card {
  min-height: 22em;
  margin-top: 1.6em;
}

.tabs .tab a {
  color: #00e676;
  &.active {
    background-color: transparent;
    color: #00e676;
  }
  &:hover {
    color: #00e676;
  }
}

.tabs .indicator {
  background-color: #00e676;
}

.note-img {
  width: 3em;
  height: 3em;
  position: relative;
  top: -2em;
  left: -1em;
}
